<%= render 'layouts/header_min' %>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="row" id="sign_in">
    <div class="col-lg-offset-3 col-lg-6" id="signin2">
      <h1>Sign in</h1>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <div id="signin_button">
          <%= f.submit "Woof!", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>
</div>
