<%= render 'layouts/header_min' %>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="row" id="sign_in">
    <div class="col-lg-6" id="signin1">
      <h1>Log in</h1>
      <div id="account">
        <p>Don't have an account?</p> 
        <p><%= link_to "Sign up here!", signup_path %></p>
      </div>
    </div>
    <div class="col-lg-6" id="signin2">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Sign In", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
</div>
