<%= render 'layouts/header' %>

<div class="row">
<div class="col-lg-offset-3 col-lg-6" id="member_list_wrapper">
	<div class="row">
	<div class="col-lg-4 index_left">
		<h1>Your Fellow DogEar Members</h1>
		<h4>See what books other members love and don't love.</h4>
	</div>
	<div class="col-lg-8 index_right">
		<ul class="users">
		  <% @users.order("last_name asc").each do |user| %>
		    <li>
		      <h3><%= link_to "#{user.first_name} #{user.last_name}", user %></h3>
		      Favorite Book:
		      <% if user.favorite_books.empty? %>
		      	<span class="favorite_book">None Selected</span>
		      <% else %>
		      	<span class="favorite_book"><%= user.favorite_books.first.title %></span>	
		      <% end %>
		      <hr class="dotted_line">
		      	Least Favorite Book:
		      <% if user.hated_books.empty? %>
		      	<span class="favorite_book">None Selected</span>
		      <% else %>
		      	<span class="favorite_book"><%= user.hated_books.first.title %></span>
		      <% end %>
		    </li>
		  <hr class="red_line">
		  <% end %>
		</ul>
		<%= will_paginate %>
	</div>
</div>
</div>
