<%= render 'layouts/header' %>

<div class="row sign_in_wrapper">
<div class="col-md-6 col-md-offset-3">
    <div class="row" id="sign_in">
        <div class="col-lg-12" id="signin1">
          <h1>Create an Account</h1>
          <div id="account">
            <p>Can't wait to learn more about you!
            What books you like... what books you don't like</p>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="signin2">
          
          <%= form_for(@user) do |f| %>
            <div class="row">
            <div class="col-lg-12">
                <%= render 'shared/error_messages' %>
            </div>
            </div>

            <div class="row">
            <div class="col-lg-6">
                <h3>The Essentials</h3>
                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>

                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control' %>

                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control' %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="col-lg-6">
                <h3>The Fun Stuff</h3>
                <%= f.label :fav_author, "Favorite Author" %>
                <%= f.text_field :fav_author, class: 'form-control' %>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div id="signin_button">
                    <%= f.submit "Woof!", class: "btn btn-primary" %>
                </div>
            </div>
            </div>
          <% end %>
          
        </div>
    </div>
</div>
