<%= render 'layouts/header' %>

<div class="row">
<div class="col-lg-offset-4 col-lg-4"> 
	<div id="profile_info">
		
			<h2><%= @user.username %></h2>
			<% if current_user.id == @user.id %>
				<h3><%= @user.first_name %> <%= @user.last_name %> <span><%= link_to "Edit your information", edit_user_path %></span></h3>
			<% end %>
			Location: <%= @user.city %>, <%= @user.state %><br>
			Favorite Author: <%= @user.fav_author %><br>
			
			<div class="row" id="list_genres">
			<div class="col-lg-offset-4 col-lg-4">
				Favorite Genres:
			<% if @user.genres.any? %>
				<ul> 
					<% @user.genres.each do |genre| %>
						<li>
							<%= genre.name %>
						</li>
					<% end %>
				</ul>
			<% end %>
			</div>
			</div>
	</div>
</div>
</div>


<div class="row">
<div class="col-lg-offset-2 col-lg-8">
	<div class="row">
	<div class="col-lg-6 profile_books">
		<% if @user.favorites.any? %>
			<h2>Books I Love<br> (<%= @user.favorite_books.count %>)
			</h2>
			<ol class="big_number sortable">
				<% @user.favorite_books.each do |favorite| %>
					<% Book.where(id: favorite.id).each do |book| %>
						<li class="sorted">
							<div id="rankings">
								<%= image_tag book.image_url %>
								<br><br>
								<%= book.title %><br>
								(<%= book.year %>)
								<br><span class="smaller"><%= book.author %></span>
								<span class="smaller"><br>
									<%= link_to "Remove from list", remove_path(user_id: @current_user.id, book_id: book.id), method: :post %></span>
							</div>
							<hr class="red_line">
						</li>
					<% end %>
				<% end %>
			</ol>
		<% end %>
	</div>
	<div class="col-lg-6 profile_books">	
		<% if @user.hated_books.any? %>
			<h2>Books I Don't<br> (<%= @user.hated_books.count %>)</h2>
			<ol class="big_number sortable">
				<% @user.hated_books.each do |unfinished| %>
					<% Book.where(id: unfinished.id).each do |book| %>
						<li class="sorted">
							<div id="rankings">
								<%= image_tag book.image_url %>
								<br><br>
								<%= book.title %><br>
								(<%= book.year %>) 
								<br><span class="smaller"><%= book.author %></span><br>
								<span class="smaller">
									<%= link_to "Remove from list" %></span>
							</div>
							<hr class="red_line">
						</li>
					<% end %>
				<% end %>
			</ol>
		<% end %>
	</div>
	</div>
</div>
</div>

