<%= render 'layouts/header' %>
<h1><%= @user.first_name %> <%= @user.last_name %><h1>
<h3><%= @user.email %></h3>
<div>
	<%= link_to "Edit your information", edit_user_path %>
</div>

<% if @user.favorites.any? %>
	<h2>Books I Love (<%= @user.favorite_books.count %>)</h2>
	<ol>
		<% @user.favorite_books.each do |favorite| %>
			<% Book.where(id: favorite.id).each do |book| %>
				<li><%= book.title %>(<%= book.year %>), <%= book.author %>
				</li>
			<% end %>
		<% end %>
	</ol>
<% end %>

<% if @user.hated_books.any? %>
	<h2>Books I Just Couldn't Finish (<%= @user.hated_books.count %>)</h2>
	<ol>
		<% @user.hated_books.each do |unfinished| %>
			<% Book.where(id: unfinished.id).each do |book| %>
				<li><%= book.title %>(<%= book.year %>), <%= book.author %></li>
			<% end %>
		<% end %>
	</ol>
<% end %>

