<%= render 'layouts/header' %>

<div class="row">
<div class="col-lg-offset-4 col-lg-4"> 
	<div id="profile_info">
		<h2><%= @user.first_name %> <%= @user.last_name %></h2>
		<div>
			<% if current_user.id == @user.id %>
				<p><%= link_to "Edit your information", edit_user_path %></p>
			<% end %>
		</div>
	</div>
</div>
</div>


<div class="row">
<div class="col-lg-offset-2 col-lg-8">
	<div class="row">
	<div class="col-lg-6 profile_books">
		<% if @user.favorites.any? %>
			<h2>Books I Love<br> (<%= @user.favorite_books.count %>)
			</h2>
			<ol class="big_number">
				<% @user.favorite_books.each do |favorite| %>
					<% Book.where(id: favorite.id).each do |book| %>
						<li>
							<div id="rankings">
								<%= image_tag book.image_url %>
								<br><br>
								<%= book.title %><br>
								(<%= book.year %>)
								<br><span class="smaller"><%= book.author %></span>
							</div>
							<hr class="red_line">
						</li>
					<% end %>
				<% end %>
			</ol>
		<% end %>
	</div>
	<div class="col-lg-6 profile_books">	
		<% if @user.hated_books.any? %>
			<h2>Books I Don't<br> (<%= @user.hated_books.count %>)</h2>
			<ol class="big_number">
				<% @user.hated_books.each do |unfinished| %>
					<% Book.where(id: unfinished.id).each do |book| %>
						<li>
							<div id="rankings">
								<%= image_tag book.image_url %>
								<br><br>
								<%= book.title %><br>
								(<%= book.year %>) 
								<br><span class="smaller"><%= book.author %></span>
							</div>
							<hr class="red_line">
						</li>
					<% end %>
				<% end %>
			</ol>
		<% end %>
	</div>
	</div>
</div>
</div>

