<%= render 'layouts/header' %>

<br>
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<h3 class="home_link">Look up a book by title</h3>
		<%= form_tag(books_index_path, :method=>"get") do %>
	      <%= text_field_tag(:choice_title) %>
	      <%= submit_tag("SELECT", :class=>"btn") %>
	  <% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">

		<div class="col-lg-6">
			<h3>Most Popular on DogEar</h3>
			<ol>
			<% Book.all.order("favorites_count desc").take(10).each do |book| %>
					<li>
						<%= book.favorites_count %>
						<%= image_tag book.image_url %><br>
						<%= book.title %><br>
						<%= book.author %>

						<% if logged_in? %>
						<div id="book_message">
						<%= link_to "Add to My Flavorites", share_path(user_id: @current_user.id, book_id: book.id), method: :post, class: "favorite" %>
						</div>
						<% if @switch %>
							<%= link_to "switch lists", root_path %>
						<% end %>
						<br>
						<div id="book_message">
						<%= link_to "I couldn't finish this", dislike_path(user_id: @current_user.id, book_id: book.id), method: :post, remote: true, class: "unfinished" %>
						</div>
						<br>
					<% end %>
				</li>
				<hr>
			<% end %>
			</ol>
		</div>

		<div class="col-lg-6">
			<h3>Least Popular on DogEar</h3>
			<ol>
			<% Book.all.order("unfinisheds_count desc").take(10).each do |book| %>
					<li>
						<%= book.unfinisheds_count %><br>
						<%= image_tag book.image_url %><br>
						<%= book.title %><br>
						<%= book.author %>

						<% if logged_in? %>
							<div id="book_message">
							<%= link_to "Add to My Favorites", share_path(user_id: @current_user.id, book_id: book.id), method: :post, remote: true, class: "favorite" %>
							</div>
							<br>
							<div id="book_message">
							<%= link_to "I couldn't finish this", dislike_path(user_id: @current_user.id, book_id: book.id), method: :post, remote: true, class: "unfinished" %>
							</div>
						<br>
						<% end %>

					</li>
					<hr>
			<% end %>
			</ol>
		</div>

	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	// alert("Hi");

	$('.favorite').click(function() {
		$(this).parent().text("Added to Favorites");
	})

	$('.unfinished').click(function() {
		$(this).parent().text("Sorry, you didn't like this.");
	})

});
</script>
	

  



