	<%= render 'layouts/header' %>

<br>
<div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8" id="book_search_head">
	<div class="col-lg-7" id="book_lookup">
		<h1>Search by title or author:</h1>
	</div>
	<div class="col-lg-3">
		<%= form_tag(books_index_path, :method=>"get") do %>
	      <%= text_field_tag(:choice_title) %><br>
	      <div id="search_button">
          <%= image_submit_tag("paw.png", 
            :onmouseover => "this.src='/assets/paw_hover.png'", 
            :onmouseout => "this.src='/assets/paw.png'", class: "vel-button") %>
        </div>
	  <% end %>
	</div>
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">

		<div class="col-lg-6 dogear_lists" id="divider">
			<h2>Most Popular on DogEar</h2>
			<ol class="big_number">
			<% Book.all.order("favorites_count desc").take(10).each do |book| %>
				<li>
					<div id="rankings">
						<%= image_tag book.image_url %>
						<br><br>
						<%= book.favorites_count %> <span class="smaller2">times on Favorites Lists</span><br>
						<%= book.title %><br>
						(<%= book.year %>)
						<br><span class="smaller"><%= book.author %></span>
					</div>
					
					<div class="row">	
							<% if logged_in? %>
								<div class="col-sm-12 favs_not">
								<div id="book_message" class="smaller3 col-sm-6">
									<%= link_to "Add to My Favorites", share_path(user_id: @current_user.id, book_id: book.id), method: :post,  class: "favorite" %>
								</div>
								<div id="book_message" class="smaller3 col-sm-6">
									<%= link_to "I couldn't finish this", dislike_path(user_id: @current_user.id, book_id: book.id), method: :post,  class: "unfinished" %>
								</div>
								<hr class="red_line">
								</div>
							<% end %>
						</div>
						<hr class="red_line">
					</li>
			<% end %>
			</ol>
		</div>

		<div class="col-lg-6 dogear_lists">
			<h2>Least Popular on DogEar</h2>
			<ol class="big_number">
			<% Book.all.order("unfinisheds_count desc").take(10).each do |book| %>
					<li>
						<div id="rankings">
							<%= image_tag book.image_url %>
							<br><br>
							<%= book.unfinisheds_count %> <span class="smaller2">times on Unfinished Lists</span><br>
							<%= book.title %><br>
							(<%= book.year %>)
							<br><span class="smaller"><%= book.author %></span>
						</div>

						<div class="row">	
							<% if logged_in? %>
								<div class="col-sm-12 favs_not">
								<div id="book_message" class="smaller3 col-sm-6">
									<%= link_to "Add to My Favorites", share_path(user_id: @current_user.id, book_id: book.id), method: :post, class: "favorite" %>
								</div>
								<div id="book_message" class="smaller3 col-sm-6">
									<%= link_to "I couldn't finish this", dislike_path(user_id: @current_user.id, book_id: book.id), method: :post,  class: "unfinished" %>
								</div>
								<hr class="red_line">
								</div>
							<% end %>
						</div>
						<hr class="red_line">
					</li>
			<% end %>
			</ol>
		</div>

	</div>
</div>
</div>

 <script type="text/javascript">
// $(document).ready(function() {
// 	// alert("Hi");

// 	$('.favorite').click(function() {
// 		$(this).parent().text("Added to Favorites");
// 	})

// 	$('.unfinished').click(function() {
// 		$(this).parent().text("Sorry, you didn't like this.");
// 	})

// });
// </script>
	

  



