
<%= render 'layouts/header_min' %>
<div class="row">
	<div class="col-sm-offset-4 col-sm-4" id="home_menu_wrapper">
		<ul id="home_menu">
			<li>
				<%= link_to "Log In", login_path %>
			</li>
			<li>
				<%= link_to "Start an Account", signup_path %>
			</li>
			<li>
				<%= link_to "Library Look Up" %>
			</li>
			<li>
				<%= link_to "Find a favorite quote" %>
			</li>
			<li>
				<%= link_to "Look up a book", books_new_path %>
			</li>
			<li>
				<%= link_to "Find the closest bookstore or library", bookstores_map_path %>
			</li>
		</ul>
	</div>
</div>