<%= render 'layouts/header' %>

<div id="message"></div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div>
		  <div id="map" style='width: 600px; height: 400px;'></div>
		</div>
	</div>
</div>
<%= include_gon %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h1>Bookstores</h1>
		<%= @book_stores.each do |store| %>
			<%= store['name'] %>
			<%= store['vicinity'] %>
			<br><hr>
		<% end %>

		<h1>Libraries</h1>
		<% @libs.each do |library| %>
			<%= library['name'] %>
			<%= library['vicinity'] %>
			<br><hr>
		<% end %>
	</div>
	<div class="col-md-3"></div>
</div>

<script>
	$(document).ready(function(){
		alert("Hell-ow");
	  var handler = Gmaps.build('Google');
	  handler.buildMap({ 
	    provider: {
	     minZoom: 10 ,
	    },
	    internal: {id: 'map'}
	  	}, 
	  	function(){
	    	navigator.geolocation.getCurrentPosition(displayOnMap);
		    markers = handler.addMarkers(<%= raw @hash.to_json %>);
		    handler.bounds.extendWith(markers);
		    handler.fitMapToBounds();
		    handler.getMap().setZoom(15);
		  });

	  function displayOnMap(position){
		  var marker = handler.addMarker({
		  	lat: position.coords.latitude,
		    lng: position.coords.longitude,
		    // lat: <%= @lat %>,
		    // lng: <%= @lng %>,
		    infowindow: "You Are Here"
		  });
	  	handler.map.centerOn(marker);
		};

	});

</script>