<div class="row">
<div class="col-lg-12" id="login_username">
	<% if logged_in? %>
		<p>
			<span id="header_hi">Welcome, <%= @current_user.first_name %></span>
			<span id="logout"><%= link_to "Sign Out", logout_path %></span>
		</p>
	<% end %>
</div>
</div>


<div class="row">
<div class="col-lg-12" id="logo">
	<div><%= link_to image_tag("logo_3.png", 
		:onmouseover => "this.src='/assets/logo_hover.png'", 
		:onmouseout => "this.src='/assets/logo_3.png'"), 
		root_path, class: "vel-button1" %>
	</div>
	<nav id="header_menu" class="row">
		<ul>
			<li><%= link_to "Search Books", books_new_path, class: "vel-button" %></li>
			<li><%= link_to "Search Bookstores", '#', id: "stores", class: "vel-button" %></li>
			<% if logged_in? %>
				<li><%= link_to "My Profile", current_user, class: "vel-button" %></li>
				<li><%= link_to "Member List", users_path, class: "vel-button" %></li>
			<% else %>
				<li><%= link_to "Sign in", login_path, class: "vel-button" %></li>
				<li><%= link_to "Sign Up", signup_path, class: "vel-button" %></li>
			<% end %>
		</ul>
	</nav>
</div>
</div>
