<div class="row">
<div class="col-lg-12" id="login_username">
	<% if logged_in? %>
		<p>
			<span id="header_hi">Welcome, <%= @current_user.first_name %></span>
			<span id="logout"><%= link_to "Sign Out", logout_path %></span>
		</p>
	<% end %>
</div>
</div>


<div class="row">
<div class="col-lg-12" id="logo">
	<div id="x"><%= link_to image_tag("logo_3.png"), root_path %></div>
	<nav id="header_menu" class="row">
		<ul>
			<li><%= link_to "Search Books", books_new_path %></li>
			<li><%= link_to "Search Bookstores", '#', id: "stores" %></li>
			<% if logged_in? %>
				<li><%= link_to "My Profile", current_user %></li>
				<li><%= link_to "Member List", users_path %></li>
			<% else %>
				<li><%= link_to "Sign in", login_path %></li>
				<li><%= link_to "Sign Up", signup_path %></li>
			<% end %>
		</ul>
	</nav>
</div>
</div>
